.sidebar {
    width: $sidebar-collapsed-width;
    min-height: 100vh;
    .nav-item {
        position: relative;
        &:last-child {
            margin-bottom: 1rem;
        }
        .nav-link {
            text-align: center;
            padding: 0.75rem 1rem;
            width: $sidebar-collapsed-width;
            span {
                font-size: 0.65rem;
                display: block;
            }
        }
        &.active .nav-link {
            font-weight: 700;
        }
        .collapse {
            position: absolute;
            left: calc(#{$sidebar-collapsed-width} + #{$grid-gutter-width} / 2);
            top: 2px;
            z-index: 1;
            .collapse-inner {
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                padding: 0.5rem 0;
                min-width: 10rem;
                font-size: $dropdown-font-size;
                margin-bottom: 1rem;
                .collapse-header {
                    padding: 0.5rem 1.5rem;
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 0.65rem;
                    color: $gray-500;
                }
                .collapse-item {
                    padding: 0.5rem 1rem;
                    margin: 0 0.5rem;
                    color: $gray-900;
                    text-decoration: none;
                    border-radius: $border-radius;
                    white-space: nowrap;
                    &:hover {
                        background-color: $gray-200;
                    }
                    &:active {
                        background-color: $gray-300;
                    }
                    &.active {
                        color: $primary;
                        font-weight: 700;
                    }
                }
            }
        }
        .collapsing {
            display: none;
        }
    }
    #sidebarToggle {
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
        cursor: pointer;
        &:hover,
        &:focus {
            text-decoration: none;
            outline: none;
        }
    }
    &.toggled {
        width: 0 !important;
        overflow: hidden;
        #sidebarToggle::after {
            content: '\f105';
        }
        .sidebar-card {
            display: none;
        }
    }
    .sidebar-brand {
        padding: 1.5rem 1rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1rem;
        letter-spacing: 0.05rem;
        z-index: 1;
        .sidebar-brand-icon i {
            font-size: 2rem;
        }
        .sidebar-brand-text {
            display: none;
        }
    }
    hr.sidebar-divider {
        margin: 0 1rem 1rem;
    }
    .sidebar-heading {
        text-align: center;
        padding: 0 1rem;
        font-weight: 800;
        font-size: 0.65rem;
        text-transform: uppercase;
    }
    .sidebar-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: $font-size-sm;
        border-radius: $border-radius;
        color: fade-out($white, 0.2);
        margin: 0 1rem 1rem;
        padding: 1rem;
        background-color: fade-out($black, 0.9);
        .sidebar-card-illustration {
            height: 3rem;
            display: block;
        }
        .sidebar-card-title {
            font-weight: bold;
        }
        p {
            font-size: 0.75rem;
            color: fade-out($white, 0.5);
        }
    }
}
@include media-breakpoint-up(md) {
    .sidebar {
        width: $sidebar-base-width !important;
        .nav-item .collapse {
            position: relative;
            left: 0;
            top: 0;
            z-index: 1;
            margin: 0 1rem;
            .collapse-inner {
                border-radius: 0;
                box-shadow: none;
            }
        }
        .collapsing {
            display: block;
            transition: $transition-collapse;
        }
        .nav-link {
            width: $sidebar-base-width;
            text-align: left;
            padding: 1rem;
            i {
                font-size: 0.85rem;
                margin-right: 0.25rem;
            }
            span {
                font-size: 0.85rem;
                display: inline;
            }
            &[data-toggle="collapse"]::after {
                width: 1rem;
                float: right;
                font-weight: 900;
                content: '\f107';
                font-family: 'Font Awesome 5 Free';
            }
            &.collapsed::after {
                content: '\f105';
            }
        }
        .sidebar-brand .sidebar-brand-text {
            display: inline;
        }
        .sidebar-heading {
            text-align: left;
        }
        &.toggled {
            width: $sidebar-collapsed-width !important;
            .nav-item .collapse {
                position: absolute;
                left: calc(#{$sidebar-collapsed-width} + #{$grid-gutter-width} / 2);
                top: 2px;
                animation: growIn 200ms transform cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1);
            }
        }
    }
}
// Sidebar Color Variants
.sidebar-light,
.sidebar-dark {
    .sidebar-brand,
    hr.sidebar-divider,
    .sidebar-heading,
    .nav-item .nav-link,
    #sidebarToggle {
        transition: background-color 0.3s, color 0.3s;
    }
}
.sidebar-light {
    .sidebar-brand {
        color: $gray-700;
    }
    hr.sidebar-divider {
        border-top: 1px solid $gray-200;
    }
    .sidebar-heading {
        color: $gray-500;
    }
    .nav-item .nav-link {
        color: $gray-600;
        i {
            color: $gray-400;
        }
        &:hover,
        &:focus,
        &:active {
            color: $gray-700;
            i {
                color: $gray-700;
            }
        }
        &[data-toggle="collapse"]::after {
            color: $gray-500;
        }
    }
    &.active .nav-link {
        color: $gray-700;
        i {
            color: $gray-700;
        }
    }
    #sidebarToggle {
        background-color: $gray-200;
        &:hover {
            background-color: $gray-300;
        }
    }
}
.sidebar-dark {
    .sidebar-brand {
        color: $white;
    }
    hr.sidebar-divider {
        border-top: 1px solid fade-out($white, 0.85);
    }
    .sidebar-heading {
        color: fade-out($white, 0.6);
    }
    .nav-item .nav-link {
        color: fade-out($white, 0.2);
        i {
            color: fade-out($white, 0.7);
        }
        &:hover,
        &:focus,
        &:active {
            color: $white;
            i {
                color: $white;
            }
        }
        &[data-toggle="collapse"]::after {
            color: fade-out($white, 0.5);
        }
    }
    &.active .nav-link {
        color: $white;
        i {
            color: $white;
        }
    }
    #sidebarToggle {
        background-color: fade-out($white, 0.8);
        &:hover {
            background-color: fade-out($white, 0.75);
        }
    }
    &.toggled #sidebarToggle::after {
        color: fade-out($white, 0.5);
    }
}
